.home {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  flex: 1;
  background: url(../../images/interior-salon.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.home-upper-section {
  flex: 1;
}

.home-middle-section {
  flex: 4;
  align-self: center;
}

.home-lower-section {
  flex: 1;
}

.appointment-search-container {
  width: 100%;
  max-width: 500px;
}

.react-datepicker-wrapper {
  width: 100%;
  margin-bottom: 1em;
}

.react-datepicker__day {
  outline: none;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__time-list-item--selected {
  background-color: black !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datepicker__navigation--previous {
  left: 7px !important;
  outline: none;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 92px !important;
  outline: none;
}

.react-datepicker__header--time {
  padding-bottom: 8px;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}